<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Quiz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- 環境に応じて、変更の必要あり-->
    <add key="qmlDir" value="c:\inetpub\iis_wwwroot\Quiz\data"/>
  </appSettings>

  <connectionStrings/>
  
    <system.web>
        <!-- 
            デバッグ シンボルをコンパイルされたページに挿入するに
            は、compilation debug="true" に設定します。この設
            定はパフォーマンスに影響するため、開発時のみこの値
            を true に設定してください。
        -->
        <compilation debug="false" />
        <!--
            <authentication> セクションは、ユーザーを識別するため
            に、ASP.NET で使用されるセキュリティ認証モードの構成
            を有効にします。
-->
        <authentication mode="None" />
        <!--
            <customErrors> セクションは、要求の実行中にハンドル
            されていないエラーが発生した場合の処理方法の構成を
            有効にします。具体的には、開発者が HTML エラー ペ
            ージをスタック トレースのエラーの代わりに表示するように構
            成することを可能にします。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
    <applicationSettings>
        <Quiz.Properties.Settings>
            <setting name="Quiz_net_jomora_QuizService" serializeAs="String">
                <value>http://jomora.net:8080/Quiz2/QuizService.asmx?AspxAutoDetectCookieSupport=1</value>
            </setting>
        </Quiz.Properties.Settings>
    </applicationSettings>
</configuration>
